.custom-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
}

.custom-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #64748b;
}

.content-titles {
  height: 60px;
  gap: 4px;
  margin-bottom: 32px;
}

.custom-card {
  max-width: 672px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 48px 32px;
  gap: 20px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
}

.custom-card i {
  font-size: 48px;
  color: #64748b;
}

.custom-warning-titles {
  gap: 2px;
}

.card-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #1a2856;
}

.card-subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  color: #64748b;
}

.custom-items {
  max-width: 672px;
}
