.nome-aluno {
  color: #1a2856;
}

.small-date {
  color: #64748b;
}

.custom-card {
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  margin-bottom: 8px;
}

.custom-card:last-child {
  margin-bottom: 0;
}
