<div class="d-flex flex-column align-items-center">
  <div class="d-flex justify-content-between menu-certificado">
    <div class="d-flex align-items-center btn-voltar">
      <i class="ph ph-arrow-left"></i>
      <p class="m-0">Voltar</p>
    </div>
    <app-secondary-button>Agregar Certificado</app-secondary-button>
  </div>
  <div class="certificado d-flex justify-content-center align-items-center">
    <img
      src="certificado/certificate_ribbon.png"
      alt="medalha"
      class="icone-medalha"
    />
    <div class="conteudo-certificado">
      <img
        class="assinatura"
        src="certificado/certificate_signature.svg"
        alt="assinatura"
      />
      <div class="info-certificado d-flex flex-column align-items-center">
        <div class="titulo-subtitulo-certificado">
          <h1 class="">Certificado de Conclusão</h1>
          <p class="titulo-subtitulo-certificado">
            Este certificado comprova que
          </p>
        </div>

        <p class="nome-aluno m-0">Nome do Aluno</p>

        <div>
          <p class="lista-atividade-titulo">
            Concluiu com sucesso as seguintes atividades:
          </p>
          <p class="lista-atividade">
            Introdução ao Angular, Configuração com Angular CLI, Criação de
            componentes reutilizáveis, Manipulação de dados, Implementação de
            data binding, Criação de rotas com Angular Router, Consumo de APIs
            REST
          </p>
        </div>
      </div>
      <p class="data-emissao">Emitido em 01/01/2024</p>
    </div>
  </div>
</div>
