<div class="d-flex flex-column align-items-center">
  <div class="d-flex justify-content-between menu-certificado">
    <div routerLink="/" class="d-flex align-items-center btn-voltar">
      <i class="ph ph-arrow-left"></i>
      <p class="m-0">Voltar</p>
    </div>
    <app-secondary-button
      textoBotao="Download"
      icon="ph ph-download-simple"
      (click)="downloadCertificado()"
    />
  </div>
  @if(certificado) {
  <div
    #certificadoContainer
    class="certificado d-flex justify-content-center align-items-center"
  >
    <img
      src="certificado/certificate_ribbon.png"
      alt="medalha"
      class="icone-medalha"
    />
    <div class="conteudo-certificado">
      <img
        class="assinatura"
        src="certificado/certificate_signature.svg"
        alt="assinatura"
      />
      <div class="info-certificado d-flex flex-column align-items-center">
        <div class="titulo-subtitulo-certificado">
          <h1 class="">Certificado de Conclusão</h1>
          <p class="titulo-subtitulo-certificado">
            Este certificado comprova que
          </p>
        </div>

        <p class="nome-aluno m-0">{{ certificado.nome }}</p>

        <div>
          <p class="lista-atividade-titulo">
            Concluiu com sucesso as seguintes atividades:
          </p>
          <p class="lista-atividade">
            {{ certificado.atividades.join(", ") }}
          </p>
        </div>
      </div>
      <p class="data-emissao">Emitido em {{ certificado.dataEmissao }}</p>
    </div>
  </div>
  }
</div>
