/* You can add global styles to this file, and also import other style files */
.custom-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0;
  margin-bottom: 4px;
}

.custom-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #64748b;
}

.content-titles {
  height: 60px;
  gap: 4px;
  margin-bottom: 32px;
  text-align: center;
}
